@font-face {
  font-family: "Arsenal";
  src: url("../fonts/Arsenal-Bold.eot");
  src: url("../fonts/Arsenal-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Arsenal-Bold.woff2") format("woff2"), url("../fonts/Arsenal-Bold.woff") format("woff"), url("../fonts/Arsenal-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Arsenal";
  src: url("../fonts/Arsenal-Regular.eot");
  src: url("../fonts/Arsenal-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Arsenal-Regular.woff2") format("woff2"), url("../fonts/Arsenal-Regular.woff") format("woff"), url("../fonts/Arsenal-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}